<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:config('system.project_name')}-默认房间</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link href="{:config('static_base_url')}/style/simpleui.css?v=1" rel="stylesheet" type="text/css">
    <style>
        .msg{margin:2px;border-bottom: 1px dotted #000000;}
    </style>
</head>

<body>
<div class="sui-list-title" style="text-align: center">默认房间</div>
<div id="content" style="border: 1px solid #cccccc;min-height: 800px; overflow: auto;">
    <div class="msg"><p><b>test</b> 14:38</p><p>sssssssss</p></div>
    <div class="msg"><p><b>test</b> 14:38</p><p>sssssssss</p></div>
    <div class="msg"><p><b>test</b> 14:38</p><p>sssssssss</p></div>
    <div class="msg"><p><b>test</b> 14:38</p><p>sssss默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间默认房间ssss</p></div>
</div>
<ul class="sui-list">
    <li><input id="message" type="text" class="input-text" style="width: 99%" /></li>
    <li class="sui-cell-centerlink"><button id="btnSend" type="button">发送</button></li>
</ul>
<script src="{:config('static_base_url')}/js/zepto.js"></script>
<script src="{:config('static_base_url')}/js/simpleui.js"></script>
<script>
$(function(){
    var userId = {$user['id']};
    var clientId = '';
    var roomId = {$roomId};
    ws = new WebSocket("ws://119.29.35.128:8282");
    // 服务端主动推送消息时会触发这里的onmessage
    ws.onmessage = function(e){
        // json数据转换成js对象
        var data = eval("("+e.data+")");
        var type = data.type || '';
        var bindUrl = "{:url('Room/bind')}";

        switch(type){
            // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
            case 'init':
                // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                $.post(bindUrl, {clientId: data.clientId, roomId:roomId}, function(res){}, 'json');
                break;
            // 当mvc框架调用GatewayClient发消息时直接alert出来
            default :
                var msg = '<div class="msg"><p><b>' + data.userId + '</b>' + data.date + '</p><p>' + data.message + '</p></div>';
                $("#prepend").prepend(msg);
        }
    };

    $("#btnSend").click(function () {
        send();
    });
     var send = function () {
        var message = $.trim($("#message").val());
        var sendMessageUrl = "{:url('Room/talk')}";
        if(message.length<=0   ){
            $.alert("聊天内容不能为空");
            return ;
        }
        $.post(sendMessageUrl, {message: message, roomId:roomId }, function (res) {
            if(res.code==0){
                console.log("消息[ " + message + " ] 发送成功。");
            }  else {
                $.alert(res.message || "发送消息失败");
            }
        }, 'json');
    };
});
</script>
</body>
</html>